<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
                OCR App
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button (click)="captureImage()">Select Image</ion-button>
    <ion-img [src]="image"></ion-img>
    <ion-button (click)="recognizeImage()" [disabled]="!workerReady">Recognize Image</ion-button>

    <ion-card *ngIf="workerReady && captureProgress > 0">
        <ion-card-header>
            <ion-card-title>
                Capture progress : {{ captureProgress }}%
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{ ocrResult }}
        </ion-card-content>
    </ion-card>
</ion-content>
